.navbar {
  background-color: #F1F1EF;
}

.teste {
  color: #000;
  text-transform: uppercase;
}

.teste:hover {
  color: rgb(41, 38, 38);
  font-weight: 500;
}

.quem-somos {
  background-color: #F4F4F4;
}

.margin {
  padding-top: 120px;
  padding-bottom: 30px;
  color: black;
}

.parceiros {
  background-color: lightblue;
}

.bg-footer {
  background-color: #f08080;
  color: #F4F4F4;
}

.margin2 {
  margin-right: 100px;
}

/* .banner img {
  opacity:.5;
} */

/* .carousel-caption {
  color: black;
}

.carousel-indicators li {
  background-color: black;
} */

.card {
  border: none;
}

.banner img {
  height: 100vh;
  object-fit: cover;
  object-position: bottom;
}

